@using SEDC.Lamazon.ViewModels.Models.Product
@model ProductViewModel


<form asp-action="Details" method="post"> 
    <input asp-for="Id" hidden/>
    <div class="card shadow mt-4 mb-4">
        <div class="card-header bg-primary bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">@Model.Name</h3>
                </div>
            </div>
        </div>
        <div class="card-body"cl>
            <div class="row">
                <div class="col-6 col-md-2 offset-lg-1 pb-1">
                    <a asp-action="Index" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                        <small>Back to home</small>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-3 offset-lg-1 text-center mb-3">
                    <img  src="@Model.ImageUrl" class="d-block w-100" alt="@Model.Name"/>
                </div>
                <div class="col-12 col-lg-6 offset-lg-1">
                    <div class="col-12 pb-4">
                        <span class="badge bg-primary">@Model.ProductCategory?.Name</span>
                    </div>
                    <div class="col-12 pb-4 text-dark">
                        <p>@Model.Description</p>
                    </div>
                    <div class="row">
                        <h6 class="text-dark text-opacity-50  pb-2">
                            List Price: <span>@Model.Price.ToString("c")</span>
                        </h6>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 pb-1">
                            <button class="btn btn-primary" type="submit" disabled="@ViewBag.IsInCart">Add to Cart </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</form>