@using SEDC.Lamazon.Shared.Enums
@using SEDC.Lamazon.ViewModels.Models.Order
@model OrderViewModel

<form method="post">
    <input asp-for="@Model.Id" hidden />

    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="container row">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1">
                        <i class="fas fa-shopping-cart"></i> &nbsp; Order Summary
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right">
                        <a asp-action="Index" class="btn btn-outline-info form-control btn-sm">Back to Orders</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">Details:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Name</div>
                                <div class="col-9">
                                    @if(User.IsInRole("admin")){
                                        <input asp-for="@Model.Name"  type="text" class="form-control" />
                                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                    }
                                    else {
                                        <input asp-for="@Model.Name" readonly type="text" class="form-control" />
                                    }                                
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Phone</div>
                                <div class="col-9">
                                    @if (User.IsInRole("admin"))
                                    {
                                        <input asp-for="@Model.PhoneNumber" type="text" class="form-control" />
                                        <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.PhoneNumber" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Address</div>
                                <div class="col-9">
                                    @if (User.IsInRole("admin"))
                                    {
                                        <input asp-for="@Model.StreetAddress" type="text" class="form-control" />
                                        <span asp-validation-for="@Model.StreetAddress" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.StreetAddress" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">City</div>
                                <div class="col-9">
                                    @if (User.IsInRole("admin"))
                                    {
                                        <input asp-for="@Model.City" type="text" class="form-control" />
                                        <span asp-validation-for="@Model.City" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.City" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">State</div>
                                <div class="col-9">
                                    @if (User.IsInRole("admin"))
                                    {
                                        <input asp-for="@Model.State" type="text" class="form-control" />
                                        <span asp-validation-for="@Model.State" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.State" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">PostaCode</div>
                                <div class="col-9">
                                    @if (User.IsInRole("admin"))
                                    {
                                        <input asp-for="@Model.PostalCode" type="text" class="form-control" />
                                        <span asp-validation-for="@Model.PostalCode" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.PostalCode" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">
                                    <input asp-for="@Model.User.Email" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Order Date</div>
                                <div class="col-9">
                                    <input asp-for="@Model.OrderDate" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Carrier</div>
                                <div class="col-9">
                                    @if (User.IsInRole("admin"))
                                    {
                                        <input id="carrier" asp-for="@Model.Carrier" type="text" class="form-control" />
                                        <span asp-validation-for="@Model.Carrier" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.Carrier" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Tracking</div>
                                <div class="col-9">
                                    @if (User.IsInRole("admin"))
                                    {
                                        <input id="trackingNumber" asp-for="@Model.TrackingNumber" type="text" class="form-control" />
                                        <span asp-validation-for="@Model.TrackingNumber" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.TrackingNumber" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Shipping Date</div>
                                <div class="col-9">
                                    <input asp-for="@Model.ShippingDate" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            @if (User.IsInRole("admin"))
                            {
                                <div class="row my-1">
                                    <div class="col-3">SessionId</div>
                                    <div class="col-9">
                                        <input asp-for="@Model.SessionId" readonly type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Paymen Intent ID</div>
                                    <div class="col-9">
                                        <input asp-for="@Model.PaymentIntentId" readonly type="text" class="form-control" />
                                    </div>
                                </div>
                            }
                            <div class="row my-1">
                                <div class="col-3">Payment Date</div>
                                <div class="col-9">
                                    <input asp-for="@Model.PaymentDate" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Payment Status</div>
                                <div class="col-9">
                                    <input asp-for="@Model.PaymentStatus" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            @if(User.IsInRole("admin")) {
                                <button type="submit" asp-action="UpdateOrderDetail" class="btn btn-warning form-control">Update Order</button>
                            }
                        </div>
                        <div class="col-12 col-lg-6 pb-4">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Order Summary</span>
                            </h4>
                            <label class="btn btn-outline-primary form-control my-2">Order Status - @Model.OrderStatus</label>
                            
                            <ul class="list-group mb-3">
                                @foreach (var item in Model.Items)
                                {
                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="row container">
                                            <div class="col-8">

                                                <h6 class="my-0 text-primary">@item.Product.Name</h6>
                                                <small class="text-muted">Price : @item.Price.ToString("c")</small><br />
                                                <small class="text-muted">Quantity : @item.Count</small>
                                            </div>
                                            <div class="col-4 text-end">
                                                <p class="text-success">@((item.Count * item.Price).ToString("c"))</p>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <li class="list-group-item bg-primary">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5 class="text-white">TOTAL </h5>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h5 class="text-white">@Model.TotalPrice.ToString("c")</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            @if(User.IsInRole("admin")){
                                @if(Model.OrderStatus == OrderStatus.Accepted) {
                                    <button type="submit" asp-action="StartProcessing" class="btn btn-primary form-control my-1" > Start Processing</button>
                                }
                                @if(Model.OrderStatus == OrderStatus.Processing) {
                                    <button type="submit" onclick="return validateInput()" asp-action="ShipOrder" class="btn btn-primary form-control my-1" > Ship Order</button>
                                }
                                @if (Model.OrderStatus != OrderStatus.Refunded && Model.OrderStatus != OrderStatus.Cancelled && Model.OrderStatus != OrderStatus.Shipped)
                                {
                                    <button type="submit" asp-action="CancelOrder" class="btn btn-danger form-control my-1"> Candel Order</button>
                                }
                            }                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <script>
        function validateInput() {
            if (document.getElementById("trackingNumber").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Error...',
                    text: 'Please enter tracking number',
                });
                return false;
            }
            if (document.getElementById("carrier").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Error...',
                    text: 'Please enter carrier ',
                });
                return false;
            }
        
            return true;
        }
    </script>
}