@using SEDC.Lamazon.ViewModels.Models.Order
@model List<OrderViewModel>

<div class="card shadow mt-4">
    <div class="card-header bg-secondary bg-gradient py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Product Categories</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.Name</td>
                        <td>@order.PhoneNumber</td>
                        <td>@order.User.Email</td>
                        <td>@order.OrderStatus</td>
                        <td>@order.TotalPrice</td>
                        <td>
                            <div class="w-100 btn-group " role="group">

                                <a class="btn btn-primary mx-2" asp-action="Details" asp-route-id="@order.Id">Details</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>