@using SEDC.Lamazon.ViewModels.Models.ProductCategory
@model List<ProductCategoryViewModel>


<div class="card shadow mt-4">
    <div class="card-header bg-secondary bg-gradient py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Product Categories</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row mb-2">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="ProductCategory" asp-action="Create" class="btn btn-primary"> Create New Category</a>
            </div>
      </div>

      <table id="categoryTable" class="table table-bordered table-striped"> 
          <thead>
              <tr>
                  <th>Category Name</th>
                  <th>Actions</th>
              </tr>
          </thead>

          @*<tbody>
                @foreach (var productCategory in Model) {
                    <tr>
                        <td>@productCategory.Name</td>
                        <td>
                            <div class="w-100 btn-group " role="group">
                                <a class="btn btn-primary mx-2" asp-action="Details" asp-route-id="@productCategory.Id">Details</a>
                                <a class="btn btn-warning mx-2" asp-action="Edit" asp-route-id="@productCategory.Id">Edit</a>
                                <a class="btn btn-danger mx-2" asp-action="Delete" asp-route-id="@productCategory.Id">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
          </tbody>*@
      </table>
    </div>
</div>

@section Scripts {

    <script src="~/js/category.js" ></script>
}



   @* <@*h2>Product Categories</h2>

    <a class="mt-5" asp-action="Create">Create Product Category</a>
    <hr/>
    <hr/>

    @foreach (var productCategory in Model)
    {
        <ul style="list-style-type:none">
            <li>Product Category Name: @productCategory.Name</li>
            <li><a asp-action="Details" asp-route-id="@productCategory.Id">Details</a></li>
            <li><a asp-action="Edit" asp-route-id="@productCategory.Id">Edit</a></li>
            <li><a asp-action="Delete" asp-route-id="@productCategory.Id">Delete</a></li>
        </ul>
    }
*@